$width-content: 932px;

$keyboard-fon: #ffecef;

$key-fon: #efabb6;
$key-color: #300505;
$key-hover-fon: #a5727a;
$key-hover-color: #fff;
$key-shadow: 1px 1px 3px #522828;

$letter-field-border: #ff76a1;
