$font-regular: OpenSans, Arial, sans-serif;
$font-bold: OpenSansBold, Arial, sans-serif;

$width-content: 932px;
$min-width-body: $width-content + 50px;

$keyboard-fon: #fe9afd;

$key-fon: #fccb98;
$key-color: #000;
$key-hover-fon: #fa288d;
$key-hover-color: #fff;
$key-shadow: 1px 1px 3px #000;

$letter-field-border: #fe9afd;
