html,
body {
  font-family: $font-regular;
}

.virtual-keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;

  .keyboard {
    background-color: $keyboard-fon;
    width: $width-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px 0;
    border-radius: 10px;
    box-shadow: $key-shadow;

    &__row {
      display: flex;
      gap: 0 10px;
    }

    .key {
      background-color: $key-fon;
      color: $key-color;
      box-shadow: $key-shadow;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      transition: all 0.2s;
      border-radius: 7px;
      cursor: pointer;

      &:hover,
      &--active {
        background-color: $key-hover-fon;
        color: $key-hover-color;
        box-shadow: none;
      }
      &--active {
        border-radius: 14px;
      }
      &--caps-active {
        position: relative;

        &:before,
        &:after {
          content: "";
          height: 100%;
          width: 10px;
          background: $key-color;
          top: 0;
          position: absolute;
        }
        &:before {
          left: 0;
          border-radius: 7px 0px 0px 7px;
        }
        &:after {
          right: 0;
          border-radius: 0px 7px 7px 0px;
        }
      }
      &--flex {
        flex: 1;
      }
      &--space {
        width: 350px;
      }
    }
  }

  .letter-field {
    width: $width-content;
    border: 2px solid $letter-field-border;
    height: 300px;
    resize: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
  }

  .information {
    text-align: center;
    font-size: 18px;
  }
}
